@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  font-family: 'Work Sans', sans-serif !important;
}

.overflow_hidden_x {
  overflow-x: hidden !important;
}

::-webkit-scrollbar-thumb {
  background-color: #C6C6C6;
}

::-webkit-scrollbar {
  width: 8px;
}

/*--------------------------------- ROOT-DEFINE-VALUES --------------------------------- */
:root {
  --color-gray: #6B7C85;
  --color-lite-black: #111B21;
  --font-xs: 9px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-md: 20px;
}

/*--------------------- DEFINE-ALL = ROOT-VALUE ------------------------------ */
.color_gray {
  color: var(--color-gray) !important;
}

.color_lite_black {
  color: var(--color-light-black) !important;
}

/*---------------------------- DEFINE-ALL = FONT-SIZES ---------------------------- */
.font-xs {
  font-size: var(--font-xs) !important;
}

.font-base {
  font-size: var(--font-base) !important;
}

.font-sm {
  font-size: var(--font-sm) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

/*---------------------------- DEFINE-ALL = FONT-WEIGHT ---------------------------- */
.fw_medium {
  font-weight: 500 !important;
}

.fw_semibold {
  font-weight: 600 !important;
}

/*----------------- FONT SIZE-SET --------------------  */
@media (min-width:1800px) {
  :root {
    --font-xs: 10px;
    --font-sm: 16px;
    --font-base: 17px;
    --font-md: 24px;
  }

  .small_nav {
    width: 645px !important;
  }

  .profiles {
    width: 65px;
    height: 65px;
  }
}

@media (min-width:1200px) {
  /* .custom_container {
    max-width: 1744px !important;
  } */
}

@media (max-width:1199.98px) {
  :root {
    --font-sm: 12px;
    --font-base: 14px;
    --font-md: 18px;
  }
}

@media (max-width:991.98px) {
  :root {
    --font-md: 13px;
    --font-sm: 12px;
    --font-base: 12px;
    --font-sm: 10px;
  }
}

@media (max-width:576px) {
  :root {
    --font-md: 14px;
    --font-sm: 11px;
    --font-base: 13px;
    --font-sm: 9px;
  }
}


/* ------------------------------ COMMON CSS -------------------------- */
.overflow_hidden {
  overflow: hidden !important;
}

.cursor_pointer {
  cursor: pointer !important;
}

.transition {
  transition: all 0.2s ease-in-out !important;
}

.hov_scale:hover {
  transform: scale(1.05) !important;
}

.index_0 {
  z-index: 0;
}

.index_m_1 {
  z-index: -1;
}

.index_1 {
  z-index: 1;
}

.index_5 {
  z-index: 5;
}

.small_nav {
  width: 594px;
  padding: 12px 36px 12px 29px;
}

.big_nav {
  width: 594px;
  padding: 12px 36px 12px 29px;
}

.bg_gray {
  background-color: #F0F2F5;
}

.smal_tab_box {
  padding: 20px 29px 0 24px;
}

.chats_box {
  padding: 0 29px 0px 24px;
}

.pt_20 {
  padding-top: 20px;
}

.pb_20 {
  padding-bottom: 20px;
}

.searc_icon_one {
  top: 14px;
  left: 20px;
}

.green_notification {
  background-color: #25D366;
  border-radius: 10px;
}

#new_chat input {
  max-width: 490px !important;
  padding: 15px 22px 11px 69px !important;
  border-radius: 10px;
}

.bg_chat_box {
  background-image: url("./../public/assets/image/chat_box_bg.png") !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* MSG BOX css  */
.msg_bg_custom {
  border-radius: 10px;
}

.msg_bg_custom_miss {
  padding: 10px 24px;
  border-radius: 10px;
}

.msg_bg_custom_tick {
  border-radius: 10px;
  padding: 10px 66px 10px 19px;
}

.msg_bg_custom {
  padding: 10px 49px 10px 19px;
}

.white_corner_bg {
  block-size: cover;
  background-repeat: round;
  background-image: url("./../public/assets/image/msg_bg.png");
}

.green_corner_bg {
  block-size: cover;
  background-repeat: round;
  background-image: url("./../public/assets/image/msg_bg_green.png");
}

.bg_green {
  background-color: #D9FDD3;
}

/* .chat_box_h {
  height: calc(100vh - 164px);
} */

/* Footer Css  */

#overflowTest {
  height: calc(100vh - 74px);
  overflow-y: scroll;
}

.footer_space {
  padding: 20px 52px 20px 24px;
}

#footer input {
  padding: 15px 22px 11px 69px !important;
  border-radius: 10px;
  background-color: #fff !important;
}

:focus-visible {
  outline: none !important;
}

@media (max-width:1598.98px) {
  .small_nav {
    width: 601px;
  }
}

@media (max-width:1199.98px) {
  .small_nav {
    width: 473px;
    padding: 12px 30px 12px 24px;
  }

  .big_nav {
    padding: 12px 30px 12px 24px;
  }

  .pt_20 {
    padding-top: 12px;
  }

  .pb_20 {
    padding-bottom: 12px;
  }

  .msg_bg_custom_miss {
    padding: 8px 16px;
  }

  .msg_bg_custom {
    padding: 8px 42px 8px 18px;
  }

  .footer_space {
    padding: 16px 24px 16px 16px;
  }

  #new_chat input {
    padding: 9px 0px 9px 44px !important;
  }

  #footer input {
    padding: 9px 0px 9px 44px !important;
  }

  .searc_icon_one {
    top: 11px;
    left: 12px;
  }

  .smal_tab_box {
    padding: 16px 29px 0 24px;
  }

  .profiles {
    width: 45px;
    height: 45px;
  }
}

@media (max-width:991.98px) {
  .small_nav {
    width: 350px;
    padding: 12px 36px 12px 29px;
  }

  .smal_tab_box {
    padding: 12px 20px 0 16px;
  }

  .chats_box {
    padding: 0 20px 0px 16px;
  }

  .small_nav {
    width: 350px;
    padding: 12px 36px 12px 29px;
  }

  .profiles {
    width: 40px;
    height: 40px;
  }

  .common_icons_size {
    width: 20px;
    height: 20px;
  }

  .footer_space {
    padding: 12px 16px 12px 12px;
  }

  .big_nav {
    width: 594px;
    padding: 12px 12px 12px 12px;
  }

  .small_nav {
    padding: 12px 20px 12px 12px;
  }

  .pb_20 {
    padding-bottom: 12px;
  }

  .pt_20 {
    padding-top: 12px;
  }
}

@media (max-width:576px) {
  .small_nav {
    width: 100%;
    padding: 8px 16px 8px 12px;
  }
}

@media (max-width:576px) {
  .small_nav {
    width: 100%;
    padding: 8px 16px 8px 12px;
  }
}

@media (max-width:425px) {
  .display_show {
    display: none;
  }
}