@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

html,
body {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  font-family: "Work Sans", sans-serif !important;
}

.overflow_hidden_x {
  overflow-x: hidden !important;
}

::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
}

::-webkit-scrollbar {
  width: 8px;
}

/*--------------------------------- ROOT-DEFINE-VALUES --------------------------------- */
:root {
  --color-dark-green: #008069;
  --color-light-green: #4ba586;
  --color-gray: #6b7c85;
  --color-Sky-blue: #027eb5;
  --color-lite-black: #111b21;
  --color-dark-black: #0e0e0f;
  --color-light-gray: #3b4a54;
  --color-light-gray02: #41525d;
  --app-background: #eae6df;
  --font-xs: 9px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-base02: 17px;
  --font-base03: 18px;
  --font-md: 20px;
  --font-lg: 24px;
  --font-2lg: 28px;
  --font-xl: 32px;
  --font-2xl: 40px;
}

/*----------------- FONT SIZE-SET --------------------  */
@media (min-width: 1800px) {
  :root {
    --font-xs: 10px;
    --font-sm: 16px;
    --font-base: 17px;
    --font-md: 20px;
  }

  .small_nav {
    width: 645px !important;
  }

  .profiles {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-2xl: 35px;
    --font-lg: 22px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-sm: 12px;
    --font-base: 14px;
    --font-md: 18px;
    --font-2xl: 27px;
    --font-lg: 20px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-md: 13px;
    --font-sm: 12px;
    --font-base: 12px;
    --font-sm: 10px;
  }
}

@media (max-width: 576px) {
  :root {
    --font-md: 14px;
    --font-sm: 11px;
    --font-base: 13px;
    --font-sm: 9px;
    --font-lg: 20px;
    --font-xl: 21px;
    --font-2xl: 21px;
    --font-2lg: 24px;
    --font-lg: 21px;
  }
}

/*--------------------- DEFINE-ALL = Font-Family ------------------------------ */
.ff_inter {
  font-family: "Inter", sans-serif !important;
}

/*--------------------- DEFINE-ALL = ROOT-VALUE ------------------------------ */
.color_dark_green {
  color: var(--color-dark-green) !important;
}

.color_light_green {
  color: var(--color-light-green) !important;
}

.color_sky_blue {
  color: var(--color-Sky-blue) !important;
}
.color_light_gray {
  color: var(--color-light-gray);
}
.color_light_gray02 {
  color: var(--color-light-gray02) !important;
}

.bg_dark_green {
  background-color: var(--color-dark-green);
}

.color_gray {
  color: var(--color-gray) !important;
}

.color_lite_black {
  color: var(--color-light-black) !important;
}

.color_dark_black {
  color: var(--color-dark-black) !important;
}

/*---------------------------- DEFINE-ALL = FONT-SIZES ---------------------------- */
.font-xs {
  font-size: var(--font-xs) !important;
}

.font-base {
  font-size: var(--font-base) !important;
}

.font-base-02 {
  font-size: var(--font-base02) !important;
}

.font-base-03 {
  font-size: var(--font-base03) !important;
}

.font-sm {
  font-size: var(--font-sm) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

.font-lg {
  font-size: var(--font-lg) !important;
}

.font-2lg {
  font-size: var(--font-2lg) !important;
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.font-2xl {
  font-size: var(--font-2xl) !important;
}

/*---------------------------- DEFINE-ALL = FONT-WEIGHT ---------------------------- */
.fw_light {
  font-weight: 300 !important;
}

.fw_medium {
  font-weight: 500 !important;
}

.fw_semibold {
  font-weight: 600 !important;
}

/* ------------------------------ COMMON CSS -------------------------- */
.overflow_hidden {
  overflow: hidden !important;
}

.cursor_pointer {
  cursor: pointer !important;
}

.transition {
  transition: all 0.2s ease-in-out !important;
}

.hov_scale:hover {
  transform: scale(1.05) !important;
}

.index_0 {
  z-index: 0;
}

.index_m_1 {
  z-index: -1;
}

.index_1 {
  z-index: 1;
}

.index_5 {
  z-index: 5;
}

.lh_25 {
  line-height: 25px;
}

.border_radius_10 {
  border-radius: 10px;
}

.bg_gray {
  background-color: #f0f2f5;
}

.bg_green {
  background-color: #d9fdd3;
}

.opacity_70 {
  opacity: 70%;
}

.pt_20 {
  padding-top: 20px;
}

.pb_20 {
  padding-bottom: 20px;
}

.fs_ragular {
  font-size: 16px !important;
}

.fs_mmd {
  font-size: 20px !important;
}

.fs_llg {
  font-size: 24px !important;
}

/*-------------- Profiles Navbar Css -------------- */
.small_nav {
  width: 594px;
  padding: 12px 36px 12px 29px;
}

.smal_tab_box {
  padding: 20px 29px 0 24px;
}

/*-------------- Desktop Navbar Css -------------- */
.big_nav {
  width: 594px;
  padding: 12px 36px 12px 29px;
}

.chats_box:hover {
  background-color: #d9fdd3;
}

.chats_box {
  padding: 20px 29px 0px 24px;
}

.searc_icon_one {
  top: 14px;
  left: 20px;
}

.green_notification {
  background-color: #25d366;
  border-radius: 10px;
}

#new_chat input {
  max-width: 490px !important;
  padding: 15px 22px 11px 69px !important;
  border-radius: 10px;
}

.bg_chat_box {
  background-image: url("/assets/image/png/chat_box_bg.png") !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* --------------------- MSG BOX Css ---------------------  */
.msg_bg_custom {
  border-radius: 10px;
}

.msg_bg_custom_miss {
  padding: 10px 24px;
  border-radius: 10px;
}

.msg_bg_custom_tick {
  border-radius: 10px;
  padding: 10px 66px 10px 19px;
}

.msg_bg_custom {
  padding: 10px 49px 10px 19px;
}

.white_corner_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/image/png/msg_bg.png");
}

.green_corner_bg {
  block-size: cover;
  background-repeat: round;
  background-image: url("/assets/image/png/msg_bg_green.png");
}

.h_msg_box {
  height: calc(89% - 90px);
}

/* ------------------- Footer Css-------------------   */
#overflowTest {
  height: calc(100vh - 74px);
  overflow-y: scroll;
}

.footer_space {
  padding: 20px 52px 20px 24px;
}

#footer input {
  padding: 15px 22px 11px 69px !important;
  border-radius: 10px;
  background-color: #fff !important;
}

:focus-visible {
  outline: none !important;
}

/*------------------------------------ Popups Css ------------------------------------ */

/*---------- Community Popup Css ---------- */
.communitie_parent {
  max-width: 631px;
  padding-bottom: 50px;
}

.community_para {
  max-width: 377px;
}

.communitiy_btn:hover {
  color: #4ba586 !important;
  background-color: #fff;
  border: 1px solid #008069;
}

.communitiy_btn {
  background-color: #4ba586;
  padding: 13px 28px 13px 28px;
  border-radius: 25px;
  border: transparent;
}

/*---------- Menu Popup Css ---------- */
.menu_popup_parent {
  padding: 2px 0 6px 24px;
  width: 267px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #00000040;
}

.menu_links {
  padding: 10px 0;
}

/*---------- Search Message Popup Css ---------- */
.search_massage_popup_parent {
  padding: 27px 0 27px 24px;
}

.search_input_popup {
  padding: 18px 24px 18px 24px;
  box-shadow: 0px 2px 5px 0px #00000026;
}

#grand_massage_popup input {
  padding: 13px 0px 13px 82px;
}

.left_green_errow,
.left_green_errow_new_chat {
  left: 40px;
  top: 28px;
}

/*---------- New Chat Popup Css ---------- */
.new_chat_input_popup {
  padding: 18px 28px 18px 28px;
}

.new_chat_box {
  padding: 0 0 0 24px;
}

#new_chat_parent input {
  padding: 13px 0px 13px 82px;
}

.min_h_31 {
  height: 53px;
}

.bottom_border_w {
  max-width: 88%;
  margin: 20px 0;
}

.bottom_border_w_two {
  max-width: 86%;
  margin: 20px 0;
}

/*---------- Splash Screen Popup Css ---------- */
.max_w_888 {
  max-width: 888px;
}

/*---------- Contect Detail Popup Css ---------- */
.contact_parent {
  box-shadow: 0px 2px 5px 0px #00000026;
}

.contactpopup_space {
  margin: 28px 0;
  padding: 16px 44px 16px 28px;
  box-shadow: 0px 2px 5px 0px #00000026;
}

/*---------- Profile Popup Css ---------- */
.profile_parent {
  max-width: 631px;
}

.profile_contact {
  box-shadow: 0px 1px 6px 0px #00000040;
  padding: 16px 48px 16px 44px;
}

.profile_para {
  padding: 39px 39px 39px 44px;
}

/*---------- Qr Code Screen Popup Css ---------- */
.qr_bg_tutorial {
  background-color: #f9f9fa;
}

.qr_bg_fade {
  background-color: #d3d7d9;
}

.qr_container {
  max-width: 1140px;
  margin: auto;
}

.bg_light_green {
  background-color: #4ba586;
}

.qr_scaner_box {
  margin-top: -120px;
}

.whatsapp-chat-list {
  max-width: 30%;
}
.whatsapp_chatbox_001 {
  max-width: 1600px;
  z-index: 10;
}

.whatsapp_parent_012::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  /* background-color: var(--color-light-green); */
  background-color: #00a880;
  width: 100%;
  height: 127px;
}

/*----------------------------- All Meadia Quaries Set ------------------- ---------- */
@media (min-width: 1700px) {
  .qr_container {
    max-width: 1620px !important;
    margin: auto;
  }

  .qr_right_space {
    padding-right: 116px !important;
    max-width: 500px;
  }
}

@media (min-width: 1500px) {
  .qr_container {
    max-width: 1366px;
    margin: auto;
  }

  .qr_scaner_box {
    margin-top: -120px;
  }

  .mt-2xl-2 {
    margin-top: 8px !important;
  }

  .pb-2xl-5 {
    padding-bottom: 48px;
  }

  .pt-2xl-4 {
    padding-top: 24px;
  }

  .pt-2xl-5 {
    padding-top: 48px;
  }

  .ms-2xl-5 {
    margin-left: 48px;
  }

  .ps-2xl-5 {
    padding-left: 48px;
  }
}

@media (min-width: 1400px) {
  :root {
    --font-2xl: 40px;
    --font-lg: 24px;
  }
}

@media (max-width: 1598.98px) {
  .small_nav {
    width: 387px;
    padding: 10px 0 10px 24px;
  }

  .big_nav {
    padding: 10px 36px 10px 29px;
  }
}

@media (max-width: 1199.98px) {
  .h_msg_box {
    height: calc(90% - 90px);
  }

  .small_nav {
    width: 473px;
    padding: 12px 30px 12px 24px;
  }

  .big_nav {
    padding: 12px 30px 12px 24px;
  }

  .pt_20 {
    padding-top: 12px;
  }

  .pb_20 {
    padding-bottom: 12px;
  }

  .msg_bg_custom_miss {
    padding: 8px 16px;
  }

  .msg_bg_custom {
    padding: 8px 42px 8px 18px;
  }

  .footer_space {
    padding: 16px 24px 16px 16px;
  }

  #new_chat input {
    padding: 9px 0px 9px 44px !important;
  }

  #footer input {
    padding: 9px 0px 9px 44px !important;
  }

  .searc_icon_one {
    top: 11px;
    left: 12px;
  }

  .smal_tab_box {
    padding: 16px 29px 0 24px;
  }

  .profiles {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 991.98px) {
  .h_msg_box {
    height: calc(95.5% - 90px);
  }

  .qr_scaner_box {
    margin-top: -72px;
  }

  .daniel {
    height: 250px;
    width: 250px;
  }

  .small_nav {
    width: 350px;
    padding: 12px 36px 12px 29px;
  }

  .smal_tab_box {
    padding: 12px 20px 0 16px;
  }

  .chats_box {
    padding: 0 20px 0px 16px;
  }

  .small_nav {
    width: 350px;
    padding: 12px 36px 12px 29px;
  }

  .profiles {
    width: 40px;
    height: 40px;
  }

  .common_icons_size {
    width: 20px;
    height: 20px;
  }

  .footer_space {
    padding: 12px 16px 12px 12px;
  }

  .big_nav {
    width: 594px;
    padding: 12px 12px 12px 12px;
  }

  .small_nav {
    padding: 12px 20px 12px 12px;
  }

  .pb_20 {
    padding-bottom: 12px;
  }

  .pt_20 {
    padding-top: 12px;
  }
}

@media (max-width: 576px) {
  .bottom_border_w,
  .bottom_border_w_two {
    margin: 10px 0;
    max-width: 83%;
  }

  .new_chat_box {
    padding: 0px 0 0 16px;
  }

  .left_green_errow_new_chat {
    top: 18px !important;
  }

  #new_chat_parent input {
    padding: 10px 0px 10px 44px;
  }

  .new_chat_input_popup {
    padding: 10px 16px 10px 16px;
  }

  .common_logo {
    width: 45px;
  }

  .qr_logo {
    width: 40px;
  }

  .menu_size_scan {
    width: 24px;
    height: 24px;
  }

  .profile_contact {
    padding: 16px 16px 16px 16px;
  }

  .profile_para {
    padding: 16px 16px 16px 16px;
  }

  .Profile_popup {
    height: 250px;
    width: 250px;
  }

  .gray_splash_whatsapp_logo {
    width: 80px;
    height: 80px;
  }

  .contactpopup_space {
    margin: 16px 0;
    padding: 16px 16px 16px 16px;
  }

  .small_nav {
    width: 100%;
    padding: 8px 16px 8px 12px;
  }

  .msg_bg_custom_miss {
    padding: 8px 8px;
  }

  .misscall_icon {
    width: 18px;
    height: 18px;
  }

  .communitiy_btn {
    padding: 13px 28px 13px 28px;
  }

  .communityimg {
    width: 350px;
    height: 180px;
  }

  .search_massage_popup_parent {
    padding: 20px 0 20px 16px;
  }

  .search_input_popup {
    padding: 16px 16px 16px 16px;
  }

  #grand_massage_popup input {
    padding: 8px 0px 8px 50px;
  }

  .left_green_errow {
    left: 23px;
    top: 20px;
  }

  .green_left_popup_errow {
    width: 25px;
    height: 25px;
  }

  .fs_mmd {
    font-size: 18px !important;
  }

  .fs_mmd_sm {
    font-size: 16px !important;
  }

  .scan_img {
    width: 300px;
  }
}

@media (max-width: 425px) {
  .display_show {
    display: none;
  }
}
