.ellipsis-text {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



body {
    background-color: #eae6df !important;
}

.profiles {
    width: 40px !important;
    height: 40px !important;
}

/* .carbon_video{
     border-radius: 100px;
     border: 1px solid #d1d7db;
} */
.smal_tab_box {
    padding: 8px 8px 0 12px;
}

#new_chat input {
    max-width: 490px !important;
    padding: 5.5px 22px 5.5px 69px !important;
    border-radius: 10px;
}

.searc_icon_one {
    top: 7px;
    left: 20px;
}

.bottom_17px {
    bottom: 17px;
}

.chats_box:hover {
    background-color: #F0F2F5 !important;
}


.whatsapp-chat-list {
    max-width: 30% !important;
    min-width: 480px !important;
}

.big_nav {
    padding: 8px 16px 8px 10px !important;
}

@media (max-width:1200px) {
    .whatsapp-chat-list {
        min-width: 440px !important;
    }

    .bottom_17px {
        bottom: 0 !important;
    }
}

@media (max-width:992px) {
    .whatsapp-chat-list {
        min-width: 380px !important;
    }

    .ellipsis-text {
        width: 150px;
    }
}



@media (max-width:768px) {
    .whatsapp-chat-list {
        min-width: 375px !important;
    }

    .ellipsis-text {
        width: 80px;
    }

    .overflow_scroll_sm {
        overflow-x: scroll;
    }

    .min_width_mobile {
        min-width: 408px !important;
    }
}

@media (min-width: 576px) {
    .big_nav {
        padding: 12px 36px 12px 29px !important;
    }
}

@media (max-width:576px) {

    #footer input {
        padding: 5px 5px !important;
    }

    .min_width_mobile {
        min-width: 375px !important;
    }
}

@media (max-width:374px) {
    .min_width_mobile {
        min-width: 360px !important;
    }
    .whatsapp-chat-list {
        min-width: 360px !important;
    }
}

@media (min-width:576px) {

    .small_nav {
        width: 100% !important;
        padding: 12px 20px !important;
    }

    .footer_space {
        padding: 10px 16px 10px 16px !important;
    }

    #footer input {
        padding: 9px 0px 9px 10px !important;
    }
}

@media (min-width:768px) {
    .w_100 {
        width: 100% !important;
    }
}